@charset "UTF-8";
@font-face {
  font-family: NotoSans-Black;
  src: url('../../Fonts/NotoSansCJKkr-Black.otf');
}

@font-face {
  font-family: NotoSans-Regular;
  src: url('../../Fonts/NotoSansCJKkr-Regular.otf');
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	 transition: background-color 5000s ease-in-out 0s;
	 -webkit-transition: background-color 9999s ease-out;
     -webkit-box-shadow: 0 0 0px 1000px white inset !important;
     -webkit-text-fill-color: #000 !important;
}
.wid_40{width: 40px!important;}
.wid_55{width: 55px!important;}
h1{margin-bottom: 3%;}

#myInfo-back{
	width: 40%; height: 61px;
    border: 1px solid #dedede; border-radius: 5px;
    background-color: #e6e5e5;
    margin-bottom: 2%;
}
#myInfo-form{
	background-color: #f7f7f7;
	height: 100%;
	margin: 0 10px;
    padding: 15px 50px 15px 5px;
    box-sizing: border-box;
}
.myInfo-area{display: inline-block; font-size: 0;}
.title{
	color: #000; font-size: 13px; font-family: NotoSans-Regular;
    background-color: #fff;
    margin-left:10px; padding: 5px 10px;
    border: 1px solid #969696; border-radius: 3px 0 0 3px; border-right: 0;
}
.txtBox {
	font-family: NotoSans-Regular;
    color: #000;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #969696;
    border-radius: 0 3px 3px 0;
    height: 31px;
    box-sizing: border-box;
    outline: none;
    transition: all .5s;
    text-align: center;
}
.txtBox:focus {
	border: 1px solid #282c34;
}
/*추가 외 버튼*/
#btnForm{
	margin: 2% 0 1% 0; 
	font-family: NotoSans-Regular; font-weight: bold;
}
#btnForm > label{ cursor: pointer; padding: 10px 10px 10px 20px; position: relative;}
#addBtn{width: 50px; text-align: center;}
#addBtn:before{
	content: "";
	position: absolute;
	top: 15px; left: 7px;
	width: 3px; height: 15px;
	background-color: #000;
}
#addBtn:after{
	content: "";
	position: absolute;
	top: 15px; left: 7px;
	width: 3px; height: 15px;
	background-color: #000;
	transform: rotate(90deg);
}
#downBtn{position: relative;}
#downBtn i{position: absolute; top: 15px; left: 0;}
/* 테이블  */
#supplyRequestTable{
	font-family: NotoSans-Regular;
	width: 100%; min-height:419px; 
	border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
}
#supplyRequestTable tr th {
    background: #eee;
    border-top: 1px solid #bbb;
}
#supplyRequestTable th{padding: 10px 0; font-size: 13px;}
#supplyRequestTable td{padding: 10px 0; font-size: 13px; text-align: center;}

#supplyRequestTable tr th:first-child, 
#supplyRequestTable tr td:first-child {
    border-left: 1px solid #bbb;
}
#supplyRequestTable tr th,
#supplyRequestTable tr td {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
#supplyRequestTable tr:first-child th:first-child{
	border-top-left-radius: 6px;
}
#supplyRequestTable tr:first-child th:last-child{
	border-top-right-radius: 6px;
}
#supplyRequestTable tr:last-child td:first-child{
	border-bottom-left-radius: 6px;
}
#supplyRequestTable tr:last-child td:last-child{
	border-bottom-right-radius: 6px;
}
/* 페이징버튼 */
#pagingForm{text-align: center; margin-top: 2%; font-family: NotoSans-Regular; font-weight: bold;}
.pg_current {
    display: inline-block;
    background: #282c34;
    border: 1px solid #282c34;
    color: #fff;
    font-weight: bold;
    height: 30px;
    line-height: 28px;
    min-width: 30px;
    border-radius: 3px;
    vertical-align: middle;
}
.pg_page {
	display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #fff;
    color: #959595;
    font-size: 1.083em;
    height: 30px;
    line-height: 28px;
    min-width: 30px;
    text-decoration: none;
    border-radius: 3px;
}
.pg_page:hover {
	background-color: #dadada;
}
/* 팝업창 */
.popupLayer {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.popup-form {
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 51;
    font-family: NotoSans-Regular;
}
.popupContent {
    width: 40%;
    height: 60%;
    margin: auto;
    max-height: 100vh;
    background: white;
    border-radius: 10px;
    margin-top: 13%;
}
.popupContent>h1 {
    text-align: center;
    border-radius: 7px 7px 0 0;
    background-color: #282c34;
    padding: 10px 0;
    color: #fff;
    position: relative;
}
h1>.fa-times {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}
.content-form {
    border-top: 3px solid #eaeaea;
    width: 96%;
    margin: 0 auto;
    padding: 10px 0;
    margin-top: 5%;
    position: relative;
}
.content-form>span:first-child {
    position: absolute;
    top: -33px;
    left: 0;
    font-family: NotoSans-Regular;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.content-form>span:nth-child(2) {
    position: absolute;
    top: -22px;
    right: 0;
    font-size: 12px;
    font-weight: bold;
    font-family: NotoSans-Regular;
}
.add-textform {
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}
.add-title {
    display: inline-block;
    font-family: NotoSans-Regular;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    margin: 0 5% 0 3%;
    position: relative;
    width: 105px;
}
.add-text {
    font-family: NotoSans-Regular;
    border-radius: 3px;
    width: 56%;
}
.btn-form {
    text-align: center;
    margin-top: 1%;
}
.btn-form button {
    padding: 7px 16px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.btn-form button:last-child {
    margin-left: 1%;
    font-family: NotoSans-Regular;
    background-color: #282c34;
    color: #fff;
}
#contentList { 
	overflow-y: auto;
    max-height: 102px;
}
#supplyList {
    width: 100%;
    text-align: center;
}
#supplyList th {
    background: #eee;
    border: 1px solid #aaa;
}
#supplyList td {
    border: 1px solid #aaa;
}
/* 호버 및 선택 효과 */
.selectTr{background: #424d5c; color: #fff;}
.noSelectTr{background-color: #f6f6f6; cursor: pointer;}