@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
  font-family: NotoSans-Black;
  src: url('../Fonts/NotoSansCJKkr-Black.otf');
}

@font-face {
  font-family: NotoSans-Regular;
  src: url('../Fonts/NotoSansCJKkr-Regular.otf');
}

*{margin: 0; padding: 0; box-sizing: border-box;}
body{
	background: #282c34;
  	background-size: cover;  
  	font-family: 'Noto Sans KR', sans-serif;
  	font-weight:bold;
  	-webkit-background-size: cover;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 100vh;
}

#login-form{
	position: relative; z-index: 2;
}
#login-form h1{
	font-size: 32px; color: #fff;
	text-align: center;
	margin-bottom: 60px;
    letter-spacing: 8px;
}
.text-area{width: 400px; position: relative; margin-top: 20px;}
.text-area:first-child{margin-top: 0; }
.text-area input{
	width: 100%;
	padding: 20px 10px 10px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #999;
	font-size: 18px; color: #fff;
	outline: none;
	font-family: NotoSans-Regular;
}
.text-area label{
	position: absolute; left: 10px; top: 15px;
	font-size: 18px; color: #999;
	transition: all .5s ease; 
}
.text-area label.warning{
	color: red !important;
	animation: warning .3s ease;
	animation-iteration-count: 3;
}
@keyframes warning{
	0% {transform: translateX(-8px);}
	25% {transform: translateX(8px);}
	50% {transform: translateX(-8px);}
	75% {transform: translateX(8px);}
}

.text-area input:focus + label,
.text-area input:valid + label{
	top: -2px;
	font-size: 13px; color: #395b8e;
}

.btn-area{margin-top: 30px; }
.btn-area button{
	width: 100%; height: 50px;
	background: #3a4c67;
	color: #fff;
	font-size: 20px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	font-family: NotoSans-Regular;
}
.btn-area button:hover{background-color: #2f3c4e;}
.caption{
	float: right;
	color: #999;
}
.caption a{
	font-size: 15px; color: #999;
	text-decoration: none;
}
.check-area{margin-top: 2%;}
.check-area label{ margin-left: 2%; color: #999; cursor: pointer;}
#idChk{display: none;}
#idChk + label em{
	position:relative;
	display: inline-block;
	width: 15px; height: 15px;
	margin-right: 5px;
	background-color: #fff;
	border-radius: 2px;
	cursor: pointer; 
	vertical-align: -2px;
}
#idChk:checked + label em{
	background-color: #3a4c67;
}
#idChk:checked + label em:before {
	content: "";
    position: absolute;
    top: 7px;left: 4px;
    width: 2px; height: 6px;
    background-color: #fff;
    transform: rotate(135deg);
}
#idChk:checked + label em:after {
	content: "";
    position: absolute;
    top: 3px;  left: 8px;
    width: 2px; height: 10px;
    background-color: #fff;
    transform: rotate(35deg);
}

#error-popup{
	position: absolute;
	bottom: -100px; 
	width: 100%;
	color: #fff; background-color: #3a4c67; 
	text-align: center; 
	padding: 10px 0; margin-top: 2%; 
	border-radius: 50px;
}

.popupContent{
	width:30%; height: auto; max-height: 100vh;
    margin:auto; margin-top: 2%;
    background:white;
    border-radius: 10px;
    z-index: 3;
}
#idpopup{
	position: absolute;
	top: 5%; left: 66%;
}
#pwdpopup{
	position: absolute;
	top: 45%; left: 66%;
}
.popupContent>h2{
	cursor: pointer;
	color: #fff;
	background-color: #2f3c4e;
	text-align: center;
	padding: 10px 0; border-radius: 7px 7px 0 0;
}
.popupContent>p{text-align: center; margin: 5% 0;}
.btn-form{
	height: 50px;
	line-height: 50px;
    margin: 0 auto;
    text-align: center;
}
.btn-form button{
	padding: 7px 16px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}
.btn-form button:last-child {
	margin-left: 1%;
	font-family: NotoSans-Regular; 
	background-color: #282c34;
	color: #fff;
}
