@charset "UTF-8";

#header-form{
	position: relative;
	border-top: 2px solid #000;
	margin-top: 1%;
}
#header-menuForm{
	background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 	color: #fff; font-weight: bold; min-height: 50px; 
	border-radius: 0 0 5px 5px; box-shadow: 0px 9px 8px -7px #444444;
	position: relative;
}
#header-menuForm:before{
	content: "";
	background-color: #000; opacity: .1;
	position: absolute;
	left: 0; bottom: 0;
	width: 100%; height: 25px;
	border-radius: 0 0 5px 5px;  
	
}
#header-userForm{
	position: absolute;
	top:0; right:0;
	width: 20%; height: 0;
	border-top: 50px solid #353535;
	border-left: 50px solid transparent;
	border-radius: 0 0 5px 0;
}
#header-userForm:before {
	content: "";
	background-color: #000; opacity: .1;
	position: absolute;
	left: 0; bottom: 0;
	width: 100%; height: 25px;
	border-radius: 0 0 5px 5px;
}
#logo-form{
    display: inline-block;
    width: 14%;
}
#logo-Text{
	float: left;
    font-size: 2.5em; 
    padding-left: 20px;
    line-height: 45px;
    text-shadow: 3px 3px 6px #545454;
}
#logo-title{
    float: left;
    font-size: 16px;
    padding: 12px 0 0 10px;
    line-height: 13px;
    text-align: center;
}
#logo-title>label{
	font-size: 11px;
}
ul, li, ol {list-style: none; margin: 0; padding: 0;}
#Mainmenu{
	display: inline-block; 
	position: absolute; 
	top: 0; 	
	padding-left: 15px;
}
#Mainmenu>li{float: left; padding: 0px 20px; line-height: 50px; position: relative;}
#Mainmenu>li:not(:last-child):after{
	content: "";
	width: 1px; height: 15px;
	position: absolute; top: 17px; right: 0;
	background-color: #b3b3b3;
}
#Mainmenu>li:hover{cursor: pointer; background-color: rgba(0, 0, 0, .05);}
#Usermenu{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}
#Usermenu>li{
	float: left;
	padding: 0 20px;
	color: #fff;
	line-height: 50px;
	position: relative;
}
#Usermenu>li:not(:last-child):after{
	content: "";
	width: 1px; height: 15px;
	position: absolute; top: 17px; right: 0;
	background-color: #868686;
	
}
#Usermenu>li:hover{cursor: pointer; background-color: rgba(0, 0, 0, .2);}
#Usermenu>li>label{
	margin-left: 5px;
	cursor: pointer;
} 