@charset "UTF-8";

/* 마이페이지 */
h1{ margin: 0 0 20px 0; font-family: NotoSans-Regular; position: relative; padding-left: 25px;}
h1:before{
	content: "";
	position: absolute;
	top: 0px;left: 0px;
	width: 10px; height: 50px;
	background-color: #4ca0ae;
}
h2{ margin: 20px 0 30px 50px; font-family: NotoSans-Regular; position: relative; padding-left: 25px;}
h2:before{
	content: "";
	position: absolute;
	top: 10px; left: 0px;
	width: 10px; height: 10px;
	border: 5px solid #4ca0ae; background-color: #fff; border-radius: 50%;
}
#myInfo-wrap { margin-left: 50px; font-family: NotoSans-Regular;}
#myInfo-wrap form { position: relative;}
#myInfo-wrap table { width: 100%; }
#myInfo-wrap table th { padding: 5px 0 5px 10px; text-align: left; background-color: #eefbff; }
#myInfo-wrap table td#image-col { text-align: center; }
#myInfo-wrap table td { padding-left: 10px; }
#myInfo-wrap table th, #myInfo-wrap table td { border: 1px solid gray;}
.buttons {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
a#modifyBtn {
	position: absolute;
    right: 2px;
    top: -60px;
}
a#requestBtn {
	position: absolute;
    right: 0px;
    top: 0px;
}
.buttons:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
a#modifyBtn:active {
	right: 2px;
	top:-61px;
}
a#requestBtn:active {
	right: 0px;
	top: 1px;
}

/* 휴가사용현황 */
#vacation-wrap { position:relative; margin-left: 50px; font-family: NotoSans-Regular; overflow: hidden;}
#vacation-wrap > p { margin: 15px 0; }
.fa-plane-departure { display:block; float:left; font-size: 50px; color: white; margin-right: 20px; }
.day-boxs { position: relative;  width: 30%; padding: 20px 40px;float: left; border: 3px solid black; border-radius: 15px; box-sizing: border-box; }
.day-boxs p {
	position: absolute;
    left: 60%;
    top: 23%;
    font-size: 30px;
}
#total-vacation { background-color: #49a2f3; color: white;}
#use-vacation { background-color: #a87cf2; color: white;}
#residual-vacation { background-color: #919ea3; color: white;}
#use-vacation { margin: 0 4%;}
h3 { float: left; }

/* 휴가신청란 */
#request-box {
	display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 250px 0;
}
#dim-box{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
}
#request-content{
	font-family: NotoSans-Regular;
	width: 65%;
    height: 100%;
    padding: 30px;
    position: relative;
    margin: 0 auto;
    background-color: white;
}
#request-content table { width: 100%; margin-bottom: 20px; }
#request-content table th { padding: 20px 0 20px 10px; text-align: left; background-color: #eefbff; }
#request-content table td { padding-left: 10px; }
#request-content table th, #request-content table td { border: 1px solid gray;}
td#residual-date { color: red; }
#request-content textarea { width: 100%; padding: 10px; font-size: 20px; box-sizing: border-box; }
#request-content #button-box { width: fit-content ;margin: 20px auto 0 auto; }
#request-content .buttons { margin: 0 20px; }

