@charset "UTF-8";

/* 급여기본관리 ++ 얘도 공통이라 뽑아쓸수 있을듯 */
h1{ margin: 0 0 20px 0;}
#search-box { border: 3px solid #374a72; padding: 10px; border-radius: 15px; margin-bottom: 20px;}
#search-box input { height: 26px; padding-left: 5px; }
#search-box form { position: relative;}
#search-box th { display:block; width: 100px; margin-right: 10px; text-align: right; line-height: 30px;}
#search-box tr { display: flex; }
#search-box tr:first-child { margin-bottom: 1%; }
#search-box td { width: 220px; }
#search-box .buttons { position: absolute; right: 0; top: 0;}
.searchBtn{width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    background: url(../images/sch_btn.png) no-repeat 50% 50% #eee;
    border: 1px solid #dcdcdc;
    text-indent: -999px;
    overflow: hidden;
    cursor: pointer;
    vertical-align: top;
    margin-left: 5px;}

/* 사원정보 */
h2{ margin: 20px 0 20px 0; }
#result-box { width: fit-content; height: 79.5%; margin: 0 20px 0 0; float: left; }
#result-box table { border: 3px solid #374a72; margin-bottom: 10px; height: 80%; }
#result-box tr { border-bottom: 1px solid gray; height: 35px; line-height: 35px; }
#result-box tr.row:hover { background-color: rgb(253, 226, 229); cursor: pointer;}
#result-box tr:nth-child(even) { background-color: lightcyan; }
#result-box tr:nth-child(odd) { background-color: lightgoldenrodyellow;}
#result-box tr:last-child {height: 100%; background-color: white; }
#result-box th { padding: 0 25px; background-color: lightgray;}
#result-box td { text-align: center;}
.number { color: red; font-weight: 550;}

/* 인사기본정보 */
#basicInfo-box { float: left; }
#basicInfo-box table { border: 3px solid #374a72; margin-bottom: 10px; background-color: lightyellow; display: block; padding: 10px;}
#basicInfo-box td, #basicInfo-box th { padding: 4px 0; }
#basicInfo-box td { width: 190px; }
#basicInfo-box th { display:block; width: 100px; margin-right: 10px; text-align: right; line-height: 30px;}
#basicInfo-box input { height: 26px; padding-left: 5px;}
#basicInfo-box input#isRetire { width: 40px; padding: 0; text-align: center; }

/* 급여 수당 정보 */
#salaryInfo-box { float: left; }
#salaryInfo-box table { border: 3px solid #374a72;}




.t-table td {
  border: 1px solid black;
}
.t-table td:empty {
  border-left: 0;
  border-right: 0;
}


