<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="humanMapper">
	
	<select id="selectDepartment" resultMap="deptResult">
		SELECT * FROM TB_DEPT
	</select>
	
	<resultMap type="Human" id="humanResult">
		<id column="ENO" property="eno"/>
		<result column="PWD" property="pwd"/>
		<result column="ENAME" property="name"/>
		<result column="EBIRTHDAY" property="birthday"/>
		<result column="EADDRESS" property="address"/>
		<result column="EEMAIL" property="email"/>
		<result column="EPHONE" property="phone"/>
		<result column="INDATE" property="indate"/>
		<result column="OUTDATE" property="outdate"/>
		<result column="OUTYN" property="outyn"/>
		<result column="RCODE" property="rcode"/>
		<result column="DCODE" property="dcode"/>
	</resultMap>
	
	<resultMap type="Department" id="deptResult">
		<id column="DCODE" property="dcode"/>
		<result column="DNAME" property="dname"/>
		<result column="DCOMMENT" property="dcomment"/>
	</resultMap>
</mapper>
