<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap type="Notice" id="noticeResult">
		<id column="BNO" property="bNo"/>
		<result column="WRITER" property="writer"/>
		<result column="BCONTENT" property="content"/>
		<result column="CREATE_DATE" property="create_date"/>
		<result column="MODIFY_DATE" property="modify_date"/>
		<result column="DELETE_YN" property="outyn"/>
		<result column="ORG_FILE_NAME" property="org_file_name"/>
		<result column="STORED_FILE_NAME" property="stored_file_name"/>
		<result column="FILE_SIZE" property="file_size"/>
	</resultMap>
	
	<select id="NoticeForm" resultMap="noticeResult">
		SELECT N.bno, title, writer, bcontent, create_date, modify_date, org_file_name, stored_file_name, file_size 
		FROM TB_NOTICE N
		LEFT JOIN TB_FILE F ON(N.bno = F.bno)
		WHERE DELETE_YN = 'N' ORDER BY N.bno DESC
	</select>
	
	<insert id="NoticeInsert">
		INSERT INTO TB_NOTICE VALUES(TB_NOTICE_BNO.NEXTVAL, #{title}, #{id}, #{text}, sysdate, sysdate, default)
	</insert>
	
	<update id="NoticeModify">
		UPDATE TB_NOTICE SET TITLE = #{title}, BCONTENT = #{text} WHERE BNO = #{no}
	</update>
	
	<update id="NoticeDelete">
		UPDATE TB_NOTICE SET DELETE_YN = 'Y' WHERE BNO = #{no}
	</update>
	
	<insert id="insertFile">
		INSERT INTO TB_FILE VALUES(
			TB_FILE_NO.nextval, 
			TB_NOTICE_BNO.currval, 
			#{org_file_name}, #{stored_file_name}, 
			#{file_size}, sysdate, default)
	</insert>
	
	<select id="selectNotice" resultMap="noticeResult">
		SELECT org_file_name, stored_file_name, file_size 
		FROM TB_NOTICE N
		LEFT JOIN TB_FILE F ON(N.bno = F.bno)
		WHERE N.BNO = #{BNO}
	</select>
	
	<select id="vacationUseDays">
		SELECT USEDAY, (SELECT SUM(USEDAY) FROM TB_VACATION_RECORD WHERE ENO = #{eno}) AS ALLDAY
		FROM TB_VACATION
		WHERE ENO = #{eno}
	</select>
</mapper>
