<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="operationMapper">
	
	<resultMap type="Client" id="clientResult">
		<id column="CCODE" property="ccode"/>
		<result column="CNAME" property="cname"/>
		<result column="CMANAGER" property="cmanager"/>
		<result column="CPHONE" property="cphone"/>
		<result column="C_COMMENT" property="c_comment"/>
	</resultMap>
	
	<!-- 거래처 목록 -->
	<select id="clientList" resultMap="clientResult">
		SELECT * FROM TB_CLIENT
	</select>
	<!-- 거래처 존재 확인 -->
	<select id="showClient" resultType="Client">
		SELECT * FROM TB_CLIENT WHERE CCODE = #{ccode}
	</select>
	<!-- 거래처 검색 -->
	<select id="searchClient" resultMap="clientResult">
		SELECT * FROM TB_CLIENT
		<where>
			<if test="cname != ''">AND CNAME LIKE '%'|| #{cname} ||'%' </if>
			<if test="ccode != ''">AND CCODE LIKE '%'|| #{ccode} ||'%'</if>
			<if test="cmanager != ''">AND CMANAGER LIKE '%'|| #{cmanager} ||'%'</if>
			<if test="cphone != ''">AND CPHONE LIKE '%'|| #{cphone} ||'%'</if>
			<if test="c_comment != ''">AND C_COMMENT LIKE '%'|| #{c_comment} ||'%'</if>
		</where>
	</select>
	<!-- 거래처 목록 행 개수 -->
	<select id="clientListCount" resultType="_int">
		SELECT COUNT(*) FROM TB_CLIENT
	</select>
	<!-- 검색 거래처 목록 행 개수 -->
	<select id="searchClientListCount" resultType="_int">
		SELECT COUNT(*) FROM TB_CLIENT
		<where>
			<if test="cname != ''">AND CNAME LIKE '%'|| #{cname} ||'%' </if>
			<if test="ccode != ''">AND CCODE LIKE '%'|| #{ccode} ||'%'</if>
			<if test="cmanager != ''">AND CMANAGER LIKE '%'|| #{cmanager} ||'%'</if>
			<if test="cphone != ''">AND CPHONE LIKE '%'|| #{cphone} ||'%'</if>
			<if test="c_comment != ''">AND C_COMMENT LIKE '%'|| #{c_comment} ||'%'</if>
		</where>
	</select>
	<!-- 거래처 추가 -->
	<insert id="addClient">
		INSERT INTO TB_CLIENT VALUES(#{ccode}, #{cname}, #{cmanager}, #{cphone}, #{c_comment})
	</insert>
	<!-- 거래처 삭제 -->
	<delete id="deleteClient">
		DELETE FROM TB_CLIENT WHERE CCODE = #{ccode}
	</delete>
	<!-- 거래처 수정 -->
	<update id="modifyClient">
		UPDATE TB_CLIENT SET
			CCODE = #{ccode},
			CNAME = #{cname},
			CMANAGER = #{cmanager},
			CPHONE = #{cphone},
			C_COMMENT = #{c_comment}
			<where>
				CCODE = #{beforeCcode}
			</where>
	</update>
	<select id="clientsList" resultType="hashmap">
		<![CDATA[
		SELECT cnt, CNAME, ROWNUM
		FROM (
		    SELECT COUNT(*) cnt, CNAME
		    FROM PRODUCT_INOUT_VIEW
		    GROUP BY ROLLUP(CNAME)
		    ORDER BY cnt DESC
		    ) S
		WHERE ROWNUM <= 6
		ORDER BY CNT DESC
		]]>
	</select>
	<select id="salesList" resultType="hashmap">
		SELECT B.LV MONTH, NVL(A.입고수량,0) INCOUNT, NVL(A.입고총액,0) INPRICE, NVL(A.출고수량,0) OUTCOUNT, NVL(A.출고총액,0) OUTPRICE FROM 
		(
		    SELECT TO_CHAR(INOUT_DATE, 'mm') 년월, SUM(INCOUNT) 입고수량, SUM(COST_PRICE) 입고총액, SUM(OUTCOUNT) 출고수량, SUM(SELLING_PRICE) 출고총액
		    FROM PRODUCT_INOUT_VIEW
		    <where>
		    	<if test="year != null">AND TO_CHAR(INOUT_DATE, 'yyyy') = #{year}</if>
		    	<if test="year == null">AND TO_CHAR(INOUT_DATE, 'yyyy') = TO_CHAR(SYSDATE, 'yyyy')</if>
		    </where>
		    GROUP BY TO_CHAR(INOUT_DATE, 'mm')
		) A
		RIGHT JOIN
		<![CDATA[
		(
		    SELECT
		    LPAD(LEVEL, 2, '0') LV
		    FROM DUAL CONNECT BY LEVEL <= 12
		) B ON(A.년월 = B.LV)
		ORDER BY MONTH
		]]>
	</select>
	<select id="getInOutCount" resultType="hashmap">
		SELECT B.LV MONTH, NVL(A.입고수량,0) INCOUNT, NVL(A.출고수량,0) OUTCOUNT FROM
		(
		    SELECT TO_CHAR(INOUT_DATE, 'mm') 년월, SUM(INCOUNT) 입고수량, SUM(COST_PRICE) 입고총액, SUM(OUTCOUNT) 출고수량, SUM(SELLING_PRICE) 출고총액
		    FROM PRODUCT_INOUT_VIEW
		    <where>
		    	<if test="year != null">AND TO_CHAR(INOUT_DATE, 'yyyy') = #{year}</if>
		    	<if test="year == null">AND TO_CHAR(INOUT_DATE, 'yyyy') = TO_CHAR(SYSDATE, 'yyyy')</if>
		    </where>
		    GROUP BY TO_CHAR(INOUT_DATE, 'mm')
		) A
		RIGHT JOIN
		<![CDATA[
		(
		    SELECT
		    LPAD(LEVEL, 2, '0') LV
		    FROM DUAL CONNECT BY LEVEL <= 12
		) B ON(A.년월 = B.LV)
		ORDER BY MONTH
		]]>
	</select>
</mapper>
