<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="stockMapper">
	
	<resultMap type="Product" id="productResult">
		<id column="PCODE" property="pcode"/>
		<result column="PNAME" property="pname"/>
		<result column="COST_PRICE" property="cost_price"/>
		<result column="SELLING_PRICE" property="selling_price"/>
		<result column="P_COMMENT" property="p_comment"/>
		<result column="CCODE" property="ccode"/>
		<result column="CNAME" property="cname"/>
		<result column="PCOUNT" property="pcount"/>
	</resultMap>
	
	<resultMap type="Client" id="clientResult">
		<id column="CCODE" property="ccode"/>
		<result column="CNAME" property="cname"/>
		<result column="CMANAGER" property="cmanager"/>
		<result column="CPHONE" property="cphone"/>
		<result column="C_COMMENT" property="c_comment"/>
	</resultMap>
	
	<resultMap type="Supply" id="supplyResult">
		<id column="SCODE" property="scode"/>
		<result column="SNAME" property="sname"/>
		<result column="COST_PRICE" property="cost_price"/>
		<result column="S_COMMENT" property="s_comment"/>
		<result column="SCOUNT" property="scount"/>
	</resultMap>
	
	<!-- 제품 목록 -->
	<select id="productList" resultMap="productResult">
		SELECT PCODE, PNAME, COST_PRICE, SELLING_PRICE, P_COMMENT, CNAME, CCODE
		FROM PRODUCTLIST
	</select>
	<!-- 단일 제품 정보 -->
	<select id="showProduct" resultType="Product">
		SELECT PCODE, PNAME, COST_PRICE, SELLING_PRICE, P_COMMENT, CNAME, CCODE
		FROM PRODUCTLIST
		WHERE PCODE = #{pcode}
	</select>
	<!-- 제품 삭제 -->
	<delete id="deleteProduct">
		DELETE TB_PRODUCT WHERE PCODE = #{pcode}
	</delete>
	<!-- 제품 등록 -->
	<insert id="addProduct">
		INSERT INTO TB_PRODUCT VALUES(#{pcode}, #{pname}, #{cost_price}, #{selling_price}, #{p_comment}, #{ccode})
	</insert>
	<!-- 검색창 제품 목록 -->
	<select id="addProductList" resultMap="productResult">
		SELECT PCODE, PNAME FROM TB_PRODUCT
	</select>
	<!-- 검색창 거래처 목록 -->
	<select id="addClientList" resultMap="clientResult">
		SELECT CCODE, CNAME FROM TB_CLIENT
	</select>
	<!-- 제품 수정  -->
	<update id="modifyProduct">
		UPDATE TB_PRODUCT SET
			PCODE = #{product.pcode}, 
			PNAME = #{product.pname},
			COST_PRICE = #{product.cost_price},
			SELLING_PRICE = #{product.selling_price},
			P_COMMENT = #{product.p_comment},
			CCODE = #{product.ccode}
		WHERE PCODE = #{beforePcode}
	</update>
	<!-- 거래처 목록 -->
	<select id="clientList" resultMap="clientResult">
		SELECT * FROM TB_CLIENT
	</select>
	<!-- 거래처 존재 확인 -->
	<select id="showClient" resultType="Client">
		SELECT * FROM TB_CLIENT WHERE CCODE = #{ccode}
	</select>
	<!-- 제품 검색 -->
	<select id="searchProduct" resultMap="productResult">
		SELECT * FROM PRODUCTLIST
		<where>
			<if test="selectClient != 'all'">AND CCODE = #{selectClient}</if>
			<if test="selectProduct != 'all'">AND PCODE = #{selectProduct}</if>
		</where>
	</select>
	<!-- 비품 재고 관리 -->
	<select id="supplyManager" resultMap="supplyResult">
		SELECT * FROM SUPPLYLIST
	</select>
	<!-- 비품 재고 관리 행 -->
	<select id="supplyManagerCount" resultType="_int">
		SELECT COUNT(*) FROM SUPPLYLIST
	</select>
	<!-- 비품 검색 행 개수 -->
	<select id="searchSupplyCount" resultType="_int">
		SELECT COUNT(*) FROM SUPPLYLIST
		<where>
			<if test="scode != ''">
				AND SCODE LIKE '%' || #{scode} || '%'
			</if>
			<if test="sname != ''">
				AND SNAME LIKE '%' || #{sname} || '%'
			</if>
			<if test="price != '' and price2 != ''">
				AND COST_PRICE BETWEEN #{price} AND #{price2}
			</if>
			<if test="price != '' and price2 == ''">
				<![CDATA[ AND COST_PRICE >= #{price} ]]>
			</if>
			<if test="price == '' and price2 != ''">
				<![CDATA[ AND COST_PRICE <= #{price2} ]]>
			</if>
		</where>
	</select>
	<!--  -->
	<select id="searchSupply" resultMap="supplyResult">
		SELECT * FROM SUPPLYLIST
		<where>
			<if test="scode != ''">
				AND SCODE LIKE '%' || #{scode} || '%'
			</if>
			<if test="sname != ''">
				AND SNAME LIKE '%' || #{sname} || '%'
			</if>
			<if test="price != '' and price2 != ''">
				AND COST_PRICE BETWEEN #{price} AND #{price2}
			</if>
			<if test="price != '' and price2 == ''">
				<![CDATA[ AND COST_PRICE >= #{price} ]]>
			</if>
			<if test="price == '' and price2 != ''">
				<![CDATA[ AND COST_PRICE <= #{price2} ]]>
			</if>
		</where>
	</select>
	
	<select id="productListCount" resultType="_int">
		SELECT COUNT(*) FROM TB_PRODUCT
	</select>
	
	<select id="productManagerList" resultMap="productResult">
		SELECT P.PCODE, PNAME, COST_PRICE, SELLING_PRICE, PCOUNT, P_COMMENT
		FROM TB_PRODUCT P
		JOIN TB_PRODUCT_STOCK PS ON(P.PCODE = PS.PCODE)
	</select>
	
	<select id="showSupply" resultMap="supplyResult">
		SELECT * FROM TB_SUPPLY WHERE SCODE = #{scode}
	</select>
	
	<insert id="addSupply">
		INSERT INTO TB_SUPPLY VALUES(#{scode}, #{sname}, #{cost_price}, #{s_comment})
	</insert>
	
	<update id="modifySupply">
		UPDATE TB_SUPPLY SET SCODE=#{scode}, SNAME=#{sname}, COST_PRICE=#{cost_price}, S_COMMENT=#{s_comment}
		WHERE SCODE=#{scount}
	</update>
	
	<delete id="deleteSupply">
		DELETE FROM TB_SUPPLY WHERE SCODE=#{del_scode}
	</delete>
	
	<update id="modifySupplyCount">
		UPDATE TB_SUPPLY_STOCK SET SCOUNT = #{scount} WHERE SCODE = #{scode}
	</update>
	
	<select id="searchProductListCount" resultType="_int">
		SELECT COUNT(*) FROM PRODUCTLIST
		<where>
			<if test="pcode != ''">AND PCODE LIKE '%' || #{pcode} || '%'</if>
			<if test="pname != ''">AND PNAME LIKE '%' || #{pname} || '%'</if>
			<if test="pcount != ''"><![CDATA[ PCOUNT >= #{pcount} ]]></if>
			<if test="price != '' and price2 != ''">
				AND COST_PRICE BETWEEN #{price} AND #{price2}
			</if>
			<if test="price != '' and price2 == ''">
				<![CDATA[ AND COST_PRICE >= #{price} ]]>
			</if>
			<if test="price == '' and price2 != ''">
				<![CDATA[ AND COST_PRICE <= #{price2} ]]>
			</if>
			<if test="p_comment != ''">AND P_COMMENT LIKE '%' || #{p_comment} || '%'</if>
		</where>
	</select>
	
	<select id="searchProductManagerList" resultMap="productResult">
		SELECT PCODE, PNAME, PCOUNT, COST_PRICE, SELLING_PRICE, P_COMMENT FROM PRODUCTLIST
		<where>
			<if test="pcode != ''">AND PCODE LIKE '%' || #{pcode} || '%'</if>
			<if test="pname != ''">AND PNAME LIKE '%' || #{pname} || '%'</if>
			<if test="pcount != ''"><![CDATA[ PCOUNT >= #{pcount} ]]></if>
			<if test="price != '' and price2 != ''">
				AND COST_PRICE BETWEEN #{price} AND #{price2}
			</if>
			<if test="price != '' and price2 == ''">
				<![CDATA[ AND COST_PRICE >= #{price} ]]>
			</if>
			<if test="price == '' and price2 != ''">
				<![CDATA[ AND COST_PRICE <= #{price2} ]]>
			</if>
			<if test="p_comment != ''">AND P_COMMENT LIKE '%' || #{p_comment} || '%'</if>
		</where>
	</select>
	
	<update id="modifyProductCount">
		UPDATE TB_PRODUCT_STOCK SET PCOUNT = #{pcount} WHERE PCODE = #{pcode}
	</update>
	
	<select id="applicationListCount" resultType="_int">
		SELECT COUNT(*) FROM SUPPLY_APPLICATION_VIEW
	</select>
	
	<select id="applicationList" resultType="hashmap">
		SELECT *
		FROM SUPPLY_APPLICATION_VIEW
		ORDER BY APPLICATE_DATE DESC
	</select>
	
	<update id="refuseApplication">
		UPDATE TB_SUPPLY_APPLICATION SET STATUS = 'F' WHERE ANO IN
		<foreach collection="array" item="ano" open="(" close=")" separator="," >
			#{ano}
		</foreach>
	</update>
	<update id="approvalApplication">
		UPDATE TB_SUPPLY_APPLICATION SET STATUS = 'Y' WHERE ANO IN
		<foreach collection="array" item="ano" open="(" close=")" separator="," >
			#{ano}
		</foreach>
	</update>
</mapper>
