<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<!-- 인사 -->
		<typeAlias type="com.my.ERP.Human.model.vo.Human" alias="Human"/>
		<typeAlias type="com.my.ERP.Human.model.vo.Department" alias="Department"/>
		<typeAlias type="com.my.ERP.Human.model.vo.Rank" alias="Rank"/>
		<typeAlias type="com.my.ERP.Human.model.vo.Vacation" alias="Vacation"/>
		<typeAlias type="com.my.ERP.Human.model.vo.WorkInOut" alias="WorkTime"/>
		<typeAlias type="com.my.ERP.Human.model.vo.Salary" alias="Salary"/>
		<typeAlias type="com.my.ERP.Human.model.vo.PeopleCount" alias="PeopleCount"/>
		<typeAlias type="com.my.ERP.common.vo.SearchOption" alias="SearchOption"/>
		
		<!-- 재고 -->
		<typeAlias type="com.my.ERP.Stock.model.vo.Product" alias="Product"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/human-mapper.xml" />
		<mapper resource="mappers/stock-mapper.xml" />
	</mappers>
	
	
</configuration>