@charset "UTF-8";
@font-face {
  font-family: NotoSans-Black;
  src: url('../../Fonts/NotoSansCJKkr-Black.otf');
}

@font-face {
  font-family: NotoSans-Regular;
  src: url('../../Fonts/NotoSansCJKkr-Regular.otf');
}

#departmentManager { color: red; }
#departmentManager:before { background-color: red; }

#wrap {font-family: NotoSans-Regular;}
h1{margin-bottom: 3%;}

/* 조직도 */
#organizationChart { 
	max-height: 450px;
	overflow-y : auto;
	width: 22%; float:left; padding: 20px; 
	border: 1px solid #bbb; 
	border-radius: 6px;	
    margin-top: 45px;
}

#organizationChart form > ul > li:first-child > span { border-bottom: 1px solid #bbb; }
#organizationChart form > ul > li > span { 
	position: relative;
	display: block;
	padding: 10px 40px 10px 0; 
}

#branch-area { position: relative; }
#branch-area:before {
	content: '';
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 33;
    width: 1px;
    height: calc(100% - 22px);
    background: #767c81;
    transition: .3s;
}
#branch-area span:hover { cursor: pointer; background-color: #bbb;}
#branch-area li span {
    position: relative;
    display: block;
    padding: 10px 40px 10px 40px;
}
#branch-area li span:before {
	content: '';
    position: absolute;
    top: 50%;
    left: 21px;
    z-index: 11;
    margin-top: -1px;
    width: 10px;
    height: 1px;
    background: #767c81;
}
/* 버튼 */
.buttons { margin-top: 20px; text-align: center;}
.buttons button {
    width: 100px;
    height: 35px;
}

/* 조직정보 */
#organizationInfo { 
	width:30%; float:left;
	margin: 0 5%;
}
#organizationInfo h3 { 
	padding: 0 0 17px 0;
	margin-bottom: 20px; 
	border-bottom: 3px solid #bbb; 
}
#organizationInfo table { text-align: left; }
#organizationInfo th { width: 63px; }
#organizationInfo th, #organizationInfo td { padding: 20px; font-size: 17px;}

/* 부서 등록 수정 삭제(팝업) */
#popupBox {
	display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 225px 0;
}
#dimBox{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 51;
}
.crud_box{
	font-family: NotoSans-Regular;
	width: 50%;
    height: 100%;
    padding: 30px;
    position: relative;
    margin: 0 auto;
    background-color: white;
    z-index:999;
}
/* 부서 등록 */
#addDept { display:none; font-family: NotoSans-Regular; }
#addDept table { margin: 5px 50px;}
#addDept th, #addDept p { padding: 15px 20px; font-size: 20px; }
#addDept input { width:210px; height: 30px; margin-right: 10px; }
#addDept textarea { width: 100%; padding:20px; box-sizing: border-box; font-size: 15px; }

.button_group {
	text-align: center;
	margin-top: 10px;
}
.button_group button { width: 150px; height: 50px;}
.button_group button:first-child { margin-right: 20px;}

/* 부서 삭제  */
#delDept { display:none; font-family: NotoSans-Regular; }
#delDept p { margin: 14px 0 14px 15px; }

.deptList {	
	width: 160px; height: 320px; 
	float: left; margin: 0 20px 0 15px;
	overflow-y: auto;
}
#delList { width: 160px; height: 320px; }
#modifyList { width: 190px; height: 320px; }
.deptList table { width:100%; /* border: 1px solid #bbb; */ }
.deptList th, .deptList td { padding: 20px; text-align: center; }
.deptList th { background-color: #eee; }
.deptList td:last-child { width: 100%; }
.deptList td:hover { font-weight: bold; cursor: pointer; }

#deptInfo {
	width: 65%;
    height: 270px;
    float: left;
    margin: 0 0 30px 10px;
}
#deptInfo h3 { margin-bottom: 10px; }
#deptInfo th { padding: 12px; width: 59px;}
#deptInfo td { padding-left: 20px; }

#delDept .button_group { float: left; width: 100%; margin-top: 19px; }

/* 부서 수정 */
#modifyDept { display: none;}
#modifyDept p {  margin: 14px 0 14px 15px; }
#modifyDept #deptInfo input { width:200px; height: 33px; margin-right: 10px; }
#modifyDept #deptInfo input:last-child {
	width: 200px;	
}
.modifyBtn {
	margin-left: 1%;
	background-color: #282c34;
    color: #fff;
}
.notice_box {
	font-family: NotoSans-Regular;
	width: 47%;
	box-sizing: border-box;
	border: 1px solid #e1e1e1;
    background-color: #fafafa;
    padding: 2%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}
.notice_box {     
	position: absolute;
    left: 17.7%;
    bottom: 4.2%;
}
.notice_box li { padding: 5px 0; }
.notice_box li:last-child { color: red; }

/* 사원목록  */
#humanList {
	width: 35%;
	float: left;
	font-family: NotoSans-Regular;
}
#hListTableWrap { max-height: 660px; overflow-y: auto;}
#humanList h3 { 
	padding: 0 0 17px 0;
    margin-bottom: 20px;
    border-bottom: 3px solid #bbb;
}
#humanList table { width: 100%; min-height: 660px; }

#humanList th{padding: 10px 0; font-size: 13px;}
#humanList td{padding: 10px 0; font-size: 13px; text-align: center;}

#humanList tr th,
#humanList tr td{
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

#humanList tr th:first-child,
#humanList tr td:first-child{
  border-left: 1px solid #bbb;
}

#humanList tr th{
  background: #eee;
  border-top: 1px solid #bbb;
}

/* 알림창 */
#alertBox {
	display: none;
 	font-family: NotoSans-Regular;
    font-weight: bold;
    padding: 10px 20px;
    position: absolute;
    background-color: #282c34;
    color: #fff;
    top: 9%;
    right: 43%;
    border-radius: 3px;
}

/* 팝업창 */
.dept-popup-form{
	position:fixed;
	top: 0; left: 0;
	width:100%; height: 100%;
	z-index: 51;
	font-family: NotoSans-Regular;
	display:none;
}
.popupContent{
	width:35%;
    height: 50%;
    margin:auto;
    max-height: 100vh;
    background:white;
    border-radius: 10px;
    margin-top: 9%;
}
.popupLayer{
	position: fixed;
	top:0; left: 0;
	background: rgba(0,0,0,.5);
	width: 100%; height: 100%;
	z-index: -1;
}

.popupContent>h2{
	text-align: center; border-radius: 7px 7px 0 0 ;
	background-color: #282c34;
	padding: 10px 0;
	color: #fff;
	position: relative;
}
h2>.fa-times{
	color: #fff;
	position: absolute;
	top: 15px; right: 20px;
	cursor: pointer;
}
.content-form {
	border-top: 3px solid #eaeaea;
	width: 96%; margin: 0 auto;
	padding: 10px 0;
	margin-top: 4%;
	position: relative;
}

.content-form>span{
	position: absolute;
	top: -33px; left: 0;
	font-family: NotoSans-Regular;
	font-size: 18px; color: #000; font-weight: bold;
}
.add-title {
    display: inline-block;
    font-family: NotoSans-Regular;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    margin: 0 5% 0 6%;
    position: relative;
    width: 85px;
}
.add-textform{
	height: 50px;
	line-height: 50px;
    margin: 0 auto;
}

.add-title:before{
	content: "";
	position: absolute;
	top: 32px; left: -12px;
	width: 5px; height: 5px;
	background-color: #000;
	border-radius: 50%;
}
.add-title2:before{
	content: "";
	position: absolute;
	top: 22px; left: -12px;
	width: 5px; height: 5px;
	background-color: #000;
	border-radius: 50%;
}
.add-text{ 
	font-family: NotoSans-Regular; 
	border-radius: 3px; width: 56%;
}
.btn-form{
	text-align: center;
	margin-top: 3%;
}
.btn-form button{
	padding: 7px 16px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}
.btn-form button:last-child {
	margin-left: 1%;
	font-family: NotoSans-Regular; 
	background-color: #282c34;
	color: #fff;
}
#deleteBtn {
	background-color: #c1392b;
	color: #fff;
}
.txtBox {
	font-family: NotoSans-Regular;
    color: #000;
    font-size: 13px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #969696;
    border-radius: 0 3px 3px 0;
    height: 31px;
    box-sizing: border-box;
    cursor: pointer;
}

