@charset "UTF-8";

@font-face {
  font-family: NotoSans-Black;
  src: url('../Fonts/NotoSansCJKkr-Black.otf');
}

@font-face {
  font-family: NotoSans-Regular;
  src: url('../Fonts/NotoSansCJKkr-Regular.otf');
}
h1{margin-bottom: 3%;}
#Search-back{
	width: 100%; height: 100px;
    border: 1px solid #dedede; border-radius: 5px;
    background-color: #e6e5e5;
}
#Serach-form{
	background-color: #f7f7f7;
	height: 100%;
	margin: 0 10px;
}
#Serach-form>form{padding: 15px 50px 15px 5px;}
.search-area{display: inline-block; font-size: 0;}
.title{
	color: #000; font-size: 13px; font-family: NotoSans-Regular;
    background-color: #fff;
    margin-left:10px; padding: 5px 10px;
    border: 1px solid #969696; border-radius: 3px 0 0 3px; border-right: 0;
}
/* selectbox */
a{color: #000; text-decoration: none;}
ul, li{list-style: none;}

.selectBox{
	display: inline-block; position: relative;
	color: #000; font-size: 13px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #969696; border-radius: 0 3px 3px 0;
    width: 100px;
}
.selectBox>a{color: #000; font-size: 13px; z-index: 5; font-family: NotoSans-Regular;}
.selectBox ul{
	display: none;
	position: absolute; 
	top: 33px; left: -1px; padding:0; 
	background-color: #fff; border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 0px 6px rgba(0, 0, 0, 0.23);
	width: 120px; max-height: 438px;
	font-size: 13px;
	z-index:99;
}
.selectBox ul li{padding: 5px 5px;}
.link-selected{ display:inline-block; width: 100px;}
.link-select{
	display:block;
	border-radius: 3px;
	padding: 5px 5px;
}
.searchAngle{
	position: absolute; 
	top: 8px; right: 10px;
	cursor: pointer;
}
.rotate-angle{ transform: rotate(180deg);}
.selectBox ul li:hover .link-select{
	background-color: #282c34;
    color: #fff;
} 

/* 주제별로 길이  */
.wid_150{width: 150px!important;}
.wid_170{width: 170px!important;}
.wid_75{width: 75px!important;}
.wid_55{width: 55px!important; border-radius: 0; border-right: 0;}
.wid_35{width: 35px!important;}

/*검색창 아래부분*/
.downSearch{margin-top: 0.5%;}

/*달력 css*/
#schDate{
	color: #000; font-size: 13px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #969696; border-radius: 0 3px 3px 0;
    width: 100px;
    line-height: 20px;
    vertical-align: top;
    cursor: pointer;
}

.rightDate{border-radius: 3px!important;}
.date{
	font-family: NotoSans-Regular;
	color: #000; font-size: 13px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #969696; border-radius: 0 3px 3px 0;
    height: 21px;
    vertical-align: top;
    cursor: pointer;
}
.date + label{margin: 0 10px; font-size: 20px;}