@charset "UTF-8";
@font-face {
  font-family: NotoSans-Black;
  src: url('../../Fonts/NotoSansCJKkr-Black.otf');
}

@font-face {
  font-family: NotoSans-Regular;
  src: url('../../Fonts/NotoSansCJKkr-Regular.otf');
}
#wrap { font-family: NotoSans-Regular;}
h1{margin-bottom: 3%;}
h2{margin-bottom: 1%;}

.content_Box {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 5px;
    position: relative;
}

/* leftBox */
#leftBox { 
	width: 71%;
	float: left; margin-right: 2%; 
	font-family: NotoSans-Regular;
}
#leftBox #profileBox {
    float: left;
	width: 305px; height: 400px;
	margin-bottom: 4.4%;
}
#profileBox #profileTable {
	height: 87%;
}
#profileTable tr:first-child td:first-child { padding-right: 80px;}
#profileTable th{
    font-size: 17px;
    padding-right: 20px;
}
#userText{
	margin-top: 20px;
	text-align: center;
}
#userText>strong{
	color:#426fca;
}
#userInfo img {
	border-radius: 50%;
}
#leftBox #weatherBox {
	float: left;
	width: 33%; height: 400px;
	margin-left: 3%; margin-bottom: 4.4%;
}	
#leftBox #chartBox {
	float: left;
	width: 33%; height: 400px;
	margin-left: 3%; margin-bottom: 4.4%;
}	
	
	
#leftBox #noticeBox {
	display: inline-block;
	width: 48%; 
	padding-top: 40px;
}
#leftBox #messaeBox{
	display: inline-block;
	width: 48%; 
	padding-top: 40px;
	margin-left: 3%;
	height: 275px;
}
/*테이블*/
#noticeTable{
	width: 100%; min-height:213px; 
	border-collapse: separate;
    border-spacing: 0;
}
#noticeTable th{padding: 10px 0; background-color: #f7f7f7; font-size: 13px;}
#noticeTable td{padding: 10px 0; font-size: 13px; text-align: center;}

#noticeTable tr th,
#noticeTable tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
#noticeTable tr th:first-child,
#noticeTable tr td:first-child {
  border-left: 1px solid #bbb;
}
#noticeTable tr th {
  background: #eee;
  border-top: 1px solid #bbb;
}

#yyyy-mm-dd{
	position: relative;
	padding-left: 25px;
    float: left;
    width: 41.28%;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 13px;
    line-height: 50px;
}
#yyyy-mm-dd:after{
    content:'';
	position:absolute; 
	top:50%; right:-19px;
	margin-top:-7.5px;
	width:1px; height:15px;
	background: #c5c5c5;
}
.time{
	font-size: 20px; 
	padding: 0 5px; 
	font-size: 24px;
    line-height: 46px;}
#hh{padding-left: 15px; position: relative;}
#hh:before{
    content: '';
    position: absolute;
    top: 50%; right: -2px;
    margin-top: -4px;
    width: 3px; height: 3px;
    border-radius: 50%;
    background:#adadad;
}
#hh:after{
	content:'';
	position:absolute; 
	top:50%; right:-2px;
	margin-top:5px;
	width:3px; height:3px;
	border-radius:50%;
	background:#adadad;
}
#mm{position: relative;}
#mm:before{
    content: '';
    position: absolute;
    top: 50%; right: -2px;
    margin-top: -4px;
    width: 3px; height: 3px;
    border-radius: 50%;
    background:#adadad;
}
#mm:after{
	content:'';
	position:absolute; 
	top:50%; right:-2px;
	margin-top:5px;
	width:3px; height:3px;
	border-radius:50%;
	background:#adadad;
}
.time:last-child{padding-right: 10px;}
.time:not(:last-child){font-weight: bold;}
/* rightBox */
#rightBox { width:27%; float: left;}
#rightBox .content_Box {
	height: 227px;
	position: relative;
}

#rightBox #commuteBox {
	position: relative;
}
#buttons{
    margin: 0 auto;
	margin-top: 8%;
    width: 80%;
}
#buttons dl dt, #buttons dl dd{
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#buttons a{
	font-size: 15px;
    line-height: 1.3;
    color: #555;
    letter-spacing: -0.5px;
    text-decoration: none;
}
#buttons dl{
    float: left;
    display: table;
    width: 50%;
    height: 45px;
    box-sizing: border-box;
    background: #f6f8f9;
}
#buttons dl:nth-of-type(1) {
    border-radius: 3px 0 0 3px;
    border: 1px solid #dfe8f3;
    border-right: 0 none;
}
#buttons dl:nth-of-type(2) {
    border-radius: 0 3px 3px 0;
    border: 1px solid #dfe8f3;
    border-left: 0 none;
}
#buttons dl dt {
    width: 63px;
    background: #ebf0f3;
    font-weight: bold;
    color: #0871b9;
}
#buttons dl dd{
	font-size: 11px;
    color: #333;
}
#buttons dl dd strong {
    display: block;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: 0;
}

#buttons button { width: 70px; height: 40px; }
#buttons button:first-child { margin-right: 10px;}
#commuteBox #sysdateBox {
	text-align: center;
	margin-top: 7%;
}
#commuteBox #sysdateBox>span {
	display: inline-block;
	clear: both;
    position: relative;
    margin-top: 15px;
    width: 80%;
    height: 48px;
    border: 1px solid #d3d9db;
    box-sizing: border-box;
    border-radius: 24px;
}


#rightBox #vacationDayBox {
	margin: 5% 0; 
}
#vacationDayBox div {
	text-align: center;
    margin-top: 14%;
    font-weight: bold;
}
#vacationDayBox p {
    font-size: 35px;
}
#vacationDayBox span { color: #8c8c8c; }
/* 휴가 신청 */
#rightBox #vacationUseBox {
	cursor: pointer;
	background-color: #f1f9ff;
}
#vacationUseBox div {
	text-align: center;
    margin-top: 15%;
}
.fa-plane { font-size: 70px; color: #BCE; }



/* 휴가신청 팝업창 */
.popup-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 51;
    font-family: NotoSans-Regular;
    display: none;
}
.popupContent {
    width: 40%;
    height: 50%;
    margin: auto;
    max-height: 100vh;
    background: white;
    border-radius: 10px;
    margin-top: 10%;
}
.popupLayer {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.popupContent > h2 {
    text-align: center;
    border-radius: 7px 7px 0 0;
    background-color: #282c34;
    padding: 10px 0;
    color: #fff;
    position: relative;
    margin-bottom: 3%;
}
h2>.fa-times {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}
.content-form {
    border-top: 3px solid #eaeaea;
    width: 96%;
    margin: 0 auto;
    padding: 10px 0;
    margin-top: 8%;
    position: relative;
}
.content-form>span {
    position: absolute;
    top: -33px;
    left: 0;
    font-family: NotoSans-Regular;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.add-form {
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}
.add-title {
    display: inline-block;
    font-family: NotoSans-Regular;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    margin: 0 5% 0 3%;
    position: relative;
    width: 85px;
}
.add-title:before {
    content: "";
    position: absolute;
    top: 22px;
    left: -12px;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
}
.selectBox {
    display: inline-block;
    position: relative;
    color: #000;
    font-size: 13px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #969696;
    border-radius: 0 3px 3px 0;
    width: 100px;
    cursor: pointer;
}
.link-selected {
    display: inline-block;
    width: 100px;
}
.selectBox>a {
    color: #000;
    font-size: 13px;
    z-index: 5;
    font-family: NotoSans-Regular;
}
.selectBox ul {
    display: none;
    position: absolute;
    top: 33px;
    left: -1px;
    padding: 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 0px 6px rgba(0, 0, 0, 0.23);
    width: 120px;
    max-height: 438px;
    font-size: 13px;
    z-index: 99;
}
.selectBox ul li {
    padding: 5px 5px;
}
.link-select {
    display: block;
    border-radius: 3px!important;
    padding: 5px 5px;
}
.searchAngle {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
}
.txtBox {
    font-family: NotoSans-Regular;
    color: #000;
    font-size: 13px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #969696;
    border-radius: 0 3px 3px 0;
    height: 31px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    transition: all .5s;
}
.rotate-angle{ transform: rotate(180deg);}
.add-text {
    font-family: NotoSans-Regular;
    border-radius: 3px;
    width: 100%;
    padding: 30px 0px;
}
.add-btn-form {
    text-align: center;
    margin-top: 1%;
    border: none;
}
.add-btn-form button {
    padding: 7px 16px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.add-btn-form button:last-child {
    margin-left: 1%;
    font-family: NotoSans-Regular;
    background-color: #282c34;
    color: #fff;
}
#add-useDay { width: 6.5%; background-color: #eee; text-align: center;}
.content_Box>h2{
	position: absolute;
	top: -3px; left: -5px;
	padding: 0 15px;
    min-width: 77px;
    border-radius: 2px; box-sizing: border-box;
    background: #304b82;
    font-weight: bold; font-size: 15px; color: #fff;
    line-height: 32px;
    text-align: center;
}
.content_Box>h2:after{
	content: "";
	position: absolute;
	bottom: -4px; left: 0;
	width: 0px; height: 0px;
	border-top: 5px solid #19366f;
	border-left: 5px solid transparent;
}
#currentWeatherForm{
	margin-top: 5%;
	text-align: center;
	height: 55%;
}
#currentWeatherForm>span{
	font-family: NotoSans-Regular;
	color: #000; font-size: 15px; font-weight: bold;
}
#forecastForm{height: 40%;}
.forecast{width: 20%; height: 100%; display: inline-block;}
.dateForm{text-align: center;}
.iconForm{text-align: center; margin: 10px 0; }
.tempForm{text-align: center;}
.currentIcon{height: 65px; margin: 20px 0;}
.currentIcon .fa-sun { font-size: 60px; }
.currentTemp{height: 30px; font-size: 22px;}
.tempMax { color: #f53f3c;}
.tempMin { color: #00a1ed;}
.currenticon{height: 140px;}
.currentTemp{height: 30px;}
#chartdiv{width: 100%; height: 350px;}
