@charset "UTF-8";
@font-face {
  font-family: NotoSans-Black;
  src: url('../../Fonts/NotoSansCJKkr-Black.otf');
}

@font-face {
  font-family: NotoSans-Regular;
  src: url('../../Fonts/NotoSansCJKkr-Regular.otf');
}
#wrap { font-family: NotoSans-Regular;}
h1{margin-bottom: 3%;}
h2{margin-bottom: 1%;}

.content_Box {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 5px;
}

/* leftBox */
#leftBox { 
	width: 71%;
	float: left; margin-right: 2%; 
}
#leftBox #profileBox {
	height: 400px;
	margin-bottom: 2%;
}
#leftBox #noticeBox {
	height: 300px;
}
/*테이블*/
#noticeTable{
	width: 100%; min-height:213px; 
	border-collapse: separate;
    border-spacing: 0;
}
#noticeTable th{padding: 10px 0; background-color: #f7f7f7; font-size: 13px;}
#noticeTable td{padding: 10px 0; font-size: 13px; text-align: center;}

#noticeTable tr th,
#noticeTable tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
#noticeTable tr th:first-child,
#noticeTable tr td:first-child {
  border-left: 1px solid #bbb;
}
#noticeTable tr th {
  background: #eee;
  border-top: 1px solid #bbb;
}


/* rightBox */
#rightBox { width:27%; float: left;}
#rightBox .content_Box {
	height: 227px;
}
#rightBox #commuteBox {
	position: relative;
}
#buttons{
	text-align: center;
	margin-top: 13%;
}
#buttons button { width: 70px; height: 40px; }
#buttons button:first-child { margin-right: 10px;}
#commuteBox #sysdateBox {
	position: absolute;
    right: 20px;
    top: 25px;
}
#rightBox #vacationDayBox {
	margin: 5% 0; 
}
#vacationDayBox div {
	text-align: center;
    margin-top: 10%;
    font-weight: bold;
}
#vacationDayBox p {
    font-size: 35px;
}
#vacationDayBox span { color: #8c8c8c; }
/* 휴가 신청 */
#rightBox #vacationUseBox {
	cursor: pointer;
	background-color: #f1f9ff;
}
#vacationUseBox div {
	text-align: center;
    margin-top: 10%;
}
.fa-plane { font-size: 70px; color: #BCE; }



/* 휴가신청란 */
#request-box {
	display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 250px 0;
}
#dim-box{
	display: none;
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.4;
}
#request-content{
	display:none; /* 임시 */
	
	font-family: NotoSans-Regular;
	width: 65%;
    height: 100%;
    padding: 30px;
    position: relative;
    margin: 0 auto;
    background-color: white;
}
#request-content table { width: 100%; margin-bottom: 20px; }
#request-content table th { padding: 20px 0 20px 10px; text-align: left; background-color: #f6f6f6; }
#request-content table td { padding-left: 10px; }
#request-content table th, #request-content table td { border: 1px solid gray;}
td#residual-date { color: red; }
#request-content textarea { width: 100%; padding: 10px; font-size: 20px; box-sizing: border-box; }
#request-content #button-box { width: fit-content ;margin: 20px auto 0 auto; }
#request-content .buttons { margin: 0 20px; }

