@charset "UTF-8";

@font-face {
  font-family: NotoSans-Black;
  src: url('../Fonts/NotoSansCJKkr-Black.otf');
}

@font-face {
  font-family: NotoSans-Regular;
  src: url('../Fonts/NotoSansCJKkr-Regular.otf');
}
h1{ margin: 0 0 20px 0; font-family: NotoSans-Regular; position: relative; padding-left: 25px;}
h1:before{
	content: "";
	position: absolute;
	top: 0px;left: 0px;
	width: 10px; height: 50px;
	background-color: #4ca0ae;
}
.table-form{border: 3px solid #4ca0ae; min-height: 397px;}
#Dept-form{
	position: absolute;
	top: 11%; left: 4%;
	width: 43%;
	font-family: NotoSans-Regular;
}
h2{margin-bottom: 2%; padding-left: 20px;}
h2:before{
	content: "";
	position: absolute;
	top: 12px; left: 0px;
	width: 5px; height: 5px;
	border: 5px solid #4ca0ae; background-color: #fff; border-radius: 50%;
}
#Dept-table{max-height: 397px; overflow-y: scroll; }
#Dept-table th{padding: 10px 0; border: 1px solid #eaeaea;}
#Dept-table td{border: 1px solid #eaeaea; padding: 5px 0;}
.Dcode{
	width: 150px;
	text-align: center;
}
.Dname{
	width: 350px;
	text-align: center;
	padding: 5px 0; 
}

#Rank-form{
	position: absolute;
	top: 11%; right: 4%;
	width: 43%;
}
