@charset "UTF-8";

@font-face {
  font-family: NotoSans-Black;
  src: url('../../Fonts/NotoSansCJKkr-Black.otf');
}

@font-face {
  font-family: NotoSans-Regular;
  src: url('../../Fonts/NotoSansCJKkr-Regular.otf');
}
h1{margin-bottom: 3%;}
#Search-back{
	width: 60%;
    border: 1px solid #dedede; border-radius: 5px;
    background-color: #e6e5e5;
    margin-bottom: 50px;
}
#Serach-form{
	background-color: #f7f7f7;
	margin: 0 10px;
}
#Serach-form>form{padding: 15px 50px 15px 5px; position: relative;}
.search-area{display: inline-block; font-size: 0;}
.title{
	color: #000; font-size: 13px; font-family: NotoSans-Regular;
    background-color: #fff;
    margin-left:10px; padding: 5px 10px;
    border: 1px solid #969696; border-radius: 3px 0 0 3px; border-right: 0;
}
/* selectbox */
a{color: #000; text-decoration: none;}
ul, li{list-style: none;}

.selectBox{
	display: inline-block; position: relative;
	color: #000; font-size: 13px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #969696; border-radius: 0 3px 3px 0;
    width: 100px;
}
.selectBox>a{color: #000; font-size: 13px; z-index: 5; font-family: NotoSans-Regular;}
.selectBox ul{
	display: none;
	position: absolute; 
	top: 33px; left: -1px; padding:0; 
	background-color: #fff; border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 0px 6px rgba(0, 0, 0, 0.23);
	width: 120px; max-height: 438px;
	font-size: 13px;
	z-index:99;
}
.selectBox ul li{padding: 5px 5px;}
.link-selected{ display:inline-block; width: 100px;}
.link-select{
	display:block;
	border-radius: 3px;
	padding: 5px 5px;
}
.searchAngle{
	position: absolute; 
	top: 8px; right: 10px;
	cursor: pointer;
}
.rotate-angle{ transform: rotate(180deg);}
.selectBox ul li:hover .link-select{
	background-color: #282c34;
    color: #fff;
} 

/* 주제별로 길이  */
.wid_150{width: 150px!important;}
.wid_170{width: 170px!important;}
.wid_75{width: 75px!important;}
.wid_55{width: 55px!important; border-radius: 0; border-right: 0;}
.wid_35{width: 35px!important;}

/*검색창 아래부분*/
.downSearch{margin-top: 1%;}

/*달력 css*/
.rightDate{border-radius: 3px!important;}
.date{
	font-family: NotoSans-Regular;
	color: #000; font-size: 13px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #969696; border-radius: 0 3px 3px 0;
    height: 31px;
    box-sizing: border-box;
    cursor: pointer;
}
.date + label{ margin: 0 10px; font-size: 20px;}

#Serach-form button {
	font-family: NotoSans-Regular;
	padding: 5px 20px;
	background-color: transparent;
	border: 1px solid #969696;
	border-radius: 3px;
}
#searchBtn { 
    position: absolute;
    right: 175px;
    top: 15px;
}
#addBtn {
	position: absolute;
    right: 95px;
    top: 15px;
}
#deleteBtn {
	position: absolute;
    right: 15px;
    top: 15px;
}

/* 테이블 */
#positionTableWrap { max-height: 419px; overflow-y: auto; width: 60%; }
#positionTable{
	width: 100%; min-height:419px; 
	border-collapse: separate;
    border-spacing: 0;
}
#positionTable th, #humanList th{padding: 10px 0; font-size: 13px;}
#positionTable td, #humanList td{padding: 10px 0; font-size: 13px; text-align: center;}

#humanList tr th,
#humanList tr td,
#positionTable tr th,
#positionTable tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

#humanList tr th:first-child,
#humanList tr td:first-child,
#positionTable tr th:first-child,
#positionTable tr td:first-child {
  border-left: 1px solid #bbb;
}

#humanList tr th, 
#positionTable tr th {
  background: #eee;
  border-top: 1px solid #bbb;
}

#positionTable tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

#positionTable tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

#positionTable tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

#positionTable tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
#positionTable tbody tr:hover { background-color: #bbb; cursor: pointer;}


#positionManager { color: red; }
#positionManager:before { background-color: red; }

/* input text */
.txtBox {
	font-family: NotoSans-Regular;
    color: #000;
    font-size: 13px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #969696;
    border-radius: 0 3px 3px 0;
    height: 31px;
    box-sizing: border-box;
    cursor: pointer;
}
.notice_box {
	font-family: NotoSans-Regular;
	width: 60%;
	box-sizing: border-box;
	border: 1px solid #e1e1e1;
    background-color: #fafafa;
    padding: 2%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}
.notice_box li { padding: 5px 0; }
.notice_box li:last-child { color: red; }
/* 사원목록  */
#humanList {
	width: 30%;
    position: absolute;
    right: 30px;
    top: 116px;
   	font-family: NotoSans-Regular;
}
#hListTableWrap { max-height: 723px; overflow-y: auto;}
#humanList h2 { margin-bottom: 20px; }
#humanList table { width: 100%; min-height: 700px; }