@charset "UTF-8";

/* 급여기본관리 ++ 얘도 공통이라 뽑아쓸수 있을듯 */
h1{ position: relative; padding-left: 25px; margin: 0 0 20px 0; font-family: NotoSans-Regular;}
h1:before{
	content: "";
	position: absolute;
	top: 0px;left: 0px;
	width: 10px; height: 50px;
	background-color: #4ca0ae;
}
#search-box input[type=text] { 
	height: 28px; 
	border: 1px solid #d0d3db;
	padding-left: 5px; outline: none; 
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#search-box input[type=text]:focus {border-color: #448897; -webkit-box-shadow: 0 0 3px #448897; box-shadow: 0 0 3px #448897;}
#search-box input { height: 26px; padding-left: 5px; }
#search-box form { position: relative;}
#search-box th { display:block; width: 100px; margin-right: 10px; text-align: right; line-height: 30px;}
#search-box tr { display: flex; }
#search-box tr:first-child { margin-bottom: 1%; }
#search-box td { width: 220px; }
#search-box .buttons { position: absolute; right: 2px; top: -60px;}
.buttons>a {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.buttons>a:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.buttons>a:active {
	position:relative;
	top:1px;
}
.searchBtn{width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    background: url(../../images/sch_btn.png) no-repeat 50% 50% #eee;
    border: 1px solid #dcdcdc;
    text-indent: -999px;
    overflow: hidden;
    cursor: pointer;
    vertical-align: top;
    margin-left: 5px;}

/* 사원정보 */
h2{ position:relative; padding-left: 20px; margin: 20px 0 20px 0; font-family: NotoSans-Regular; }
h2:before{
	content: "";
	position: absolute;
	top: 12px; left: 0px;
	width: 5px; height: 5px;
	border: 5px solid #4ca0ae; background-color: #fff; border-radius: 50%;
}
#result-box { width: fit-content; height: 78.5%; margin: 0 20px 0 0; float: left; font-family: NotoSans-Regular; }
#result-box table { border: 3px solid #374a72; margin-bottom: 10px; height: 80%; }
#result-box tr { border-bottom: 1px solid gray; height: 35px; line-height: 35px; }
#result-box tr.row:hover { background-color: #dfefff; cursor: pointer;}
#result-box tr:nth-child(odd) { background-color: #f1f1f1;}
#result-box tr:last-child {height: 100%; background-color: white; }
#result-box th { padding: 0 25px; background-color: #c0dfff;}
#result-box td { text-align: center;}
.number { color: red; font-weight: 550;}

/* right-box */
#right-box { overflow: hidden; }

/* 인사기본정보 */
#basicInfo-box { float: left; font-family: NotoSans-Regular; width: 100%; }
#basicInfo-box table { border: 3px solid #e4e4e4; margin-bottom: 10px; background-color: #f6f6f6; display: block; padding: 10px;}
#basicInfo-box tr:first-child td:last-child { width: fit-content;}
#basicInfo-box td, #basicInfo-box th { padding: 4px 0; }
#basicInfo-box td { width: 190px; }
#basicInfo-box th { display:block; width: 100px; margin-right: 10px; text-align: right; line-height: 30px;}
#basicInfo-box input { height: 26px; padding-left: 5px;}
#basicInfo-box input#isRetire { width: 40px; padding: 0; text-align: center; }

/* 급여 수당 정보 */
#salaryInfo-box { float: left; font-family: NotoSans-Regular; width: 100%;}
#salaryInfo-box table { display: block; border: 3px solid #4ca0ae;}
#salaryInfo-box table tr { height: 35px; }
#salaryInfo-box table th { padding : 0 18px; background-color: #c0dfff; }
#salaryInfo-box table td { text-align: center; }
