@charset "UTF-8";

/* 휴가관리 */
h1{ margin: 0 0 20px 0; font-family: NotoSans-Regular; position: relative; padding-left: 25px;}
h1:before{
	content: "";
	position: absolute;
	top: 0px;left: 0px;
	width: 10px; height: 50px;
	background-color: #4ca0ae;
}