@charset "UTF-8";

@font-face {
  font-family: NotoSans-Black;
  src: url('../../Fonts/NotoSansCJKkr-Black.otf');
}

@font-face {
  font-family: NotoSans-Regular;
  src: url('../../Fonts/NotoSansCJKkr-Regular.otf');
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	 transition: background-color 5000s ease-in-out 0s;
	 -webkit-transition: background-color 9999s ease-out;
     -webkit-box-shadow: 0 0 0px 1000px white inset !important;
     -webkit-text-fill-color: #000 !important;
}
#human{display: block;}
#workInOutManager { color: red; }
#workInOutManager:before { background-color: red; }

h1{margin-bottom: 3%;}
#Search-back{
	width: 65%; height: 100px;
    border: 1px solid #dedede; border-radius: 5px;
    background-color: #e6e5e5;
}
#Serach-form{
	background-color: #f7f7f7;
	height: 100%;
	margin: 0 10px;
}
#Serach-form>form{padding: 15px 50px 15px 5px; position: relative;}
.search-area{display: inline-block; font-size: 0;}
.title{
	color: #000; font-size: 13px; font-family: NotoSans-Regular;
    background-color: #fff;
    margin-left:10px; padding: 5px 10px;
    border: 1px solid #969696; border-radius: 3px 0 0 3px; border-right: 0;
}
/* selectbox */
a{color: #000; text-decoration: none;}
ul, li{list-style: none;}

.selectBox{
	display: inline-block; position: relative;
	color: #000; font-size: 13px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #969696; border-radius: 0 3px 3px 0;
    width: 100px;
    cursor: pointer;
}
.selectBox>a{color: #000; font-size: 13px; z-index: 5; font-family: NotoSans-Regular;}
.selectBox ul{
	display: none;
	position: absolute; 
	top: 33px; left: -1px; padding:0; 
	background-color: #fff; border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 0px 6px rgba(0, 0, 0, 0.23);
	width: 120px; max-height: 438px;
	font-size: 13px;
	z-index:99;
}
.selectBox ul li{padding: 5px 5px;}
.link-selected{ display:inline-block; width: 100px;}
.link-select{
	display:block;
	border-radius: 3px!important;
	padding: 5px 5px;
}
.searchAngle{
	position: absolute; 
	top: 8px; right: 10px;
	cursor: pointer;
}
.rotate-angle{ transform: rotate(180deg);}
.selectBox ul li:hover .link-select{
	background-color: #282c34;
    color: #fff;
} 

/* 주제별로 길이  */
.wid_150{width: 150px!important;}
.wid_170{width: 170px!important;}
.wid_75{width: 75px!important;}
.wid_55{width: 55px!important; border-radius: 0; border-right: 0;}
.wid_35{width: 35px!important;}

/*검색창 아래부분*/
.downSearch{margin-top: 1%;}

/*달력 css*/
#schDate{
	color: #000; font-size: 13px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #969696; border-radius: 0 3px 3px 0;
    width: 100px;
    line-height: 20px;
    vertical-align: top;
    cursor: pointer;
}

.rightDate{border-radius: 3px!important;}
.date{
	font-family: NotoSans-Regular;
	color: #000; font-size: 13px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #969696; border-radius: 0 3px 3px 0;
    height: 31px;
    box-sizing: border-box;
    cursor: pointer;
}
.date + label{ margin: 0 10px; font-size: 20px;}

#searchBtn { 
	font-family: NotoSans-Regular;
	padding: 22px 15px;
	background-color: transparent;
	border: 1px solid #969696;
	border-radius: 3px;
    position: absolute;
    right: 80px;
    top: 15px;
    cursor: pointer;
}
#resetBtn { 
	font-family: NotoSans-Regular;
	padding: 22px 9px;
	background-color: transparent;
	border: 1px solid #969696;
	border-radius: 3px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.txtBox {
	font-family: NotoSans-Regular;
    color: #000;
    font-size: 13px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #969696;
    border-radius: 0 3px 3px 0;
    height: 31px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    transition: all .5s;
}
.txtBox:focus {
	border: 1px solid #282c34;
}

/*추가 외 버튼*/
#btnForm{
	margin: 2% 0 1% 0; 
	font-family: NotoSans-Regular; font-weight: bold;
}
#btnForm > label{ cursor: pointer; padding: 10px 10px 10px 20px; position: relative;}
#downBtn{position: relative;}
#downBtn i{position: absolute; top: 15px; left: 0;}

/*테이블*/
#workInOutTable{
	width: 100%;
	border-collapse: separate;
    border-spacing: 0;
    font-family: NotoSans-Regular;
}
#workInOutTable th{padding: 10px 0; background-color: #f7f7f7; font-size: 13px;}
#workInOutTable td{font-size: 13px; text-align: center;}

#workInOutTable tr th,
#workInOutTable tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}
#workInOutTable tr th:first-child,
#workInOutTable tr:first-child td:first-child {
  border-left: 1px solid #bbb;
}
#workInOutTable tr th {
  background: #eee;
  border-top: 1px solid #bbb;
}
#workInOutTable tr:last-child th {
  border-top: none;
}
#workInOutTable thead tr th{
	padding: 8px; 
	box-sizing: border-box;
}
#workInOutTable thead tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
#workInOutTable tbody tr th{
  border-top: none;
}
#workInOutTable tbody tr:nth-last-child(3) th{
  border-bottom-left-radius: 6px;
  border-top: none;
}
#workInOutTable tbody tr th{
    padding: 8px;
    min-height: 34px;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
}

#workInOutTable tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

#workInOutTable tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

/* 페이징버튼 */
#pagingForm{text-align: center; margin-top: 2%; font-family: NotoSans-Regular; font-weight: bold; position: relative;}
#peopleCountForm{
	position: absolute;
	top: -20px; left: 0;
	font-size: 14px;
}
.pg_current {
    display: inline-block;
    background: #282c34;
    border: 1px solid #282c34;
    color: #fff;
    font-weight: bold;
    height: 30px;
    line-height: 28px;
    min-width: 30px;
    border-radius: 3px;
    vertical-align: middle;
}
.pg_page {
	display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #fff;
    color: #959595;
    font-size: 1.083em;
    height: 30px;
    line-height: 28px;
    min-width: 30px;
    text-decoration: none;
    border-radius: 3px;
}
.pg_page:hover {
	background-color: #dadada;
}
.overtext{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
