@charset "UTF-8";

/* font */
@font-face {
  font-family: NotoSans-Black;
  src: url('../../Fonts/NotoSansCJKkr-Black.otf');
}

@font-face {
  font-family: NotoSans-Regular;
  src: url('../../Fonts/NotoSansCJKkr-Regular.otf');
}

/* reset */
* { margin: 0; padding: 0; }
ul,ol,li { list-style: none; }
a { text-decoration: none; outline: none; color: black; cursor: pointer;}

/* common */
html, body { height: 100%; }
table { border-collapse: collapse;}
body { width: 100%; }
h1 { font-family: NotoSans-Regular; }





